main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.checkout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 100px;
    gap: 50px ;

}

.checkout-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 5;
    text-align: center;
}

.checkout h1 {
    font-size: 50px;
}

.checkout p {
    font-size: 27px;
}

.checkout-button button {
    width: 250px;
    height: 80px;
    font-size: 25px;
    font-weight: ;
}



.checkout img {
    width: 50%;
    max-width: 300px;
    height: auto;
    max-height: 300px;
    flex: 1;
}

@media (max-width: 629px) {
    .checkout {
        gap: 20px 0;
        width: 80%;
    }

    
}

@media (max-width: 529px) {
    .checkout {
        margin-top: 70px;
        margin-bottom: 20px;
        flex-direction: column;
    }

    .checkout img {
        max-width: 200px;
    }

    .checkout-button {
        margin-top: 50px;
        margin-bottom: 100px;
    }
}