/* CART */

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    gap: 100px;
    flex-wrap: wrap;
    
}
.cart-games img {
    width: 180px;
    height: 230px;
}

.cart > h1 {
    width: 1000px;
    background-color: red;
}

.cart-content {
    display: flex;
    flex-direction: column;
    gap: 100px 0;
}


.cart-inventory {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

.cart-inventory h1 {
    font-size: 50px;
}
.cart-games {
    display: flex;
    align-items: center;
    
}

.cart-text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(128, 128, 128, 0.292);;
    width: 400px;
    height: 100px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.cart-text p {
    font-size: 35px;
}

.remove-button {
    cursor: pointer;
}

.remove-button button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

span {
    font-weight: 900;
}


.cart-payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px 0;
}

.cart-payment > p {
    margin: 10px 0; 
    font-size: 30px;
}

.apple-google-pay {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.apple-google-pay img {
    width: 60px;
}

.applepay, .googlepay {
    width: 500px;
    height: 50px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.188);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px rgb(73, 73, 73);

}


.payment-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 500px;
    gap: 5px 20px;
}

.payment-details label {
    font-size: 25px;
}

.payment-details input {
    height: 50px;
    color: black;
    font-size: 25px;
}

.payment-card, .payment-name {
    width: 500px;
}

.payment-cvc {
    width: 150px;
    flex: 2;
}

.payment-mm, .payment-yy {
    width: 100px;
    flex: 1;
}

.checkout {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.cart-total {
    background: rgba(255, 255, 255, 0.188);
    border-radius: 0px 10.68px;
    width: 40%;
    height: 50px;
    font-size: 20px;
    font-weight: 00;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.checkout-button {
    height: 50px;
    width: 150px;
    background: rgba(255, 255, 255, 0.188);
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius: 0px 10.68px;
}

.cartbutton:hover  {
    background-color: rgba(255, 255, 255, 0.374);
}
.cartbutton:active {
    color: black;
    background-color: white;
} 

@media (max-width: 629px) {
    .cart-text p:first-child {
        display: none;
    }
    .cart-games {
        flex-direction: column;
        gap: 10px;
    }

    .cart-inventory h1 {
        text-align: center;
    }

    .cart-text {
        width: 180px;
        height: 50px;
        border-radius: 10px;
    }

    .cart-inventory {
        gap: 30px;
    }

    .applepay, .googlepay {
        width: 80vw;
    }

    .payment-details {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80vw;

    }
    
    .payment-details input {
        height: 50px;
        color: black;
        font-size: 25px;
    }
    
    .payment-card, .payment-name {
        width: 500px;
    }
    
    .payment-cvc {
        width: 150px;
    }
    
    .payment-mm, .payment-yy {
        width: 100px;
    }
    
    .checkout {
        display: flex;
        width: 80vw;
        justify-content: space-between;
    }
}