.featured-game {
    display: flex;
}

.featured-gamecover {
    height: 400px;
    width: 311px;
    object-fit: cover;
}

.gamecover {
    display: flex;
    align-items: end;
    flex-direction: column;
}
.featured-game-text {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}


.featured-game-text h1 {
    line-height: 16px;
    margin: 0 0 20px 0;
    font-size: 37px;

}
.featured-game-text p{
    font-size: 26px;
    font-weight: lighter;
    max-width: 600px;
}

.video-placeholder {
    height: 160px;
    width: 250px;
    object-fit: cover;
    border: 1px solid rgb(21, 21, 21);
    margin-top: 20px;

}