.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main-content- {
    width: 50%;
    min-height: 300px;
    margin: 20px 0;
    

}

.main-content- > h1 {
    text-align: start;
    font-size: 45px;
    font-weight: 700;
    margin: 20px 0;
}

.sale-games, .new-games {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* Its suppose to scroll sideways with js*/
    gap: 50px;
    justify-content: center;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}


.sale-games::-webkit-scrollbar, .new-games::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */  
}


.sale-games img, .new-games img {
    max-width: 200px;
    object-fit: cover;
    
}

.sale-game {
    position: relative;
}

.saletag-homepage {
    background: #c20000;
    border: 1px solid #000000;
    border-radius: 80px 4px 80px 4px;
    width: 95px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 9%;
    left: 65%
}

.saletag-homepage p {
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.featured-gamecover {
    height: 400px;
    width: 311px;
    object-fit: cover;
}

.featured-game-text h1 {
    font-size: 37px;
}

.featured-game-text p {
    font-size: 1.625em;
    max-width: 600px;
}

.featured-button {
    font-size: 25px;
    font-weight: 700;
    margin: 10px 0 0 0;
}

.featured-button button {
    width: 170px;
    height: 46px;
    font-size: 28px;
}

.newgames-navigation {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.navigation-bar {
    width: 70%;
    height: 10px;
    background: rgba(255, 255, 255, 0.188);
    border-radius: 20px;
    border: 1px solid #ffffff0e;
    display: flex;
    justify-content: start;
    align-items: center;
}

.navigation-bar-inside {
    height: 10px;
    width: 20%;
    background: #adadad;
    border-radius: 0px 100px;
    border: 1px solid rgba(255, 255, 255, 0.088)
}

@media (max-width: 1920px) {
    .sale-games, .new-games {
        justify-content: start;
    }
    
}

@media (max-width: 629px) {
    .newgames-navigation {
        display: none;
        
    }

    .main-content- {
        width: 80%;
    }

    .main-content-:last-child {
        margin-bottom: 100px;
    }
}

@media (max-width: 1507px) {
    .video-placeholder {
        display: none;
    }

    .gamecover-text {
        justify-content: start;
    }
}

@media (max-width: 1257px) {
    .gamecover-text {
        display: none;
    }

    .gamecover-unit {
        justify-content: center;
    }
}