header {
    width: 100%;
    height: 100px;
    background-color: #1B203A;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

a.header-link:link, a.header-link:hover, a.header-link:active {
    color:rgb(255, 255, 255);
    text-decoration: none;
}

.header-logo {
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px 80px 4px 80px;
    width: 200px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
}
.header-logo-img {
    height: 100px;
    width: 158.84;
}

.link-box {
    ;
}

.header-placeholder {
}

header div, header nav {
    display: flex;
    margin: auto 0;
}

.header-link {
    display: flex;
    padding: 0 20px;
}

.header-link p {
    margin: 0 8px;
    font-size: 20px;
}

.header-link i {
    margin: auto;
}

.header-searchbar {
    height: 30px;
    display: flex;
    align-items: center;
}

.search-icon {
    height: 36px;
    width: 36px;
    border-top-left-radius: 16px;
    border: none;
    background-color: #FFFFFF24;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon:hover {
    background-color:#ffffff5f;
}
.search-glass {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

.search-bar {
    width: 257px;
    height: 36px;
    background-color: #FFFFFF24;
    box-sizing: border-box;
    border: none;
    outline: none;
    margin-left: 3px;
    border-bottom-right-radius: 16px;
}

.about-profile {
    margin-left:20px ;
}
