* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Genos";

}

body {
    background-image:url(/images/universal-background.jpg) ;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.836);
    object-fit: cover;
    background-attachment: fixed;
    
}

/* Header start */

header {
    width: 100%;
    height: 100px;
    background: #1B203A;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 1;
}

.flex-1 {
    flex: 1;
}

a.header-link:link, a.header-link:hover, a.header-link:active {
    color:rgb(255, 255, 255);
    text-decoration: none;
}

.header-logo {
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px 80px 4px 80px;
    width: 200px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;
}
.header-logo-img {
    height: 100px;
    width: 158.84;
}

.link-box, .searchnav {
    display: flex;
    justify-content: space-around;  
    align-items: center; 
}


.header-phone-icon {
    width: 50px;
    min-width: 50px;
    min-height: 50px;
}

header div, header nav {
    display: flex;
}

.header-link {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.header-link p {
    margin: 0 8px;
    font-size: 20px;
}

.header-link i {
    margin: auto;
}

.searchnav {
    display: flex;
}

.header-searchbar {
    height: 30px;
    display: flex;

}

.search-icon {
    height: 36px;
    width: 36px;
    border-top-left-radius: 16px;
    border: none;
    background-color: #FFFFFF24;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon:hover {
    background-color:#ffffff5f;
}
.search-glass {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

.search-bar {
    width: 257px;
    height: 36px;
    background-color: #FFFFFF24;
    box-sizing: border-box;
    border: none;
    outline: none;
    margin-left: 3px;
    border-bottom-right-radius: 16px;
}

.about-profile {
    margin-left:20px;
    display: flex;
    justify-content: center;
}

.onSale {
    color: rgb(0, 255, 0);
}

@media (max-width: 1200px) {
    .header-searchbar {
        display: none;
    }
    
    .link-box {
    }

}

/* Footer start */

.footer-icons a img {
    width: 30px;
    margin: 0 3px;
}

footer{
margin-bottom: 20px;
margin-top: 100px;
}

footer div, footer p {
    margin: 0 auto;
    text-align: center;
}

.footer-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background: #1B203A;
    border-top: 1px solid black;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-phone a {
    flex: 1;
    text-align: center;
}

.footer-phone img {
    height: 35px;
}

@media (max-width: 1040px) {

    .link-box p {
        display: none;
    }

}

@media (min-width: 630px) {

    .footer-phone, .header-phone {
        display: none;
    }
}

@media (max-width: 629px) {

    .header-desktop, .footer-desktop {
        display: none;
    }

    header {
        height: 80px;
    }

}



/* Assets */

/*BUTTONSTYLE - just add class + width styling*/

.buttonstyle {
    display: flex;
    gap: 20px;
    align-items: center;
}
.buttonstyle button {
    background: rgba(255, 255, 255, 0.188);
    border-radius: 0px 10.68px;
    border: none;
}

.buttonstyle button:hover  {
    background-color: rgba(255, 255, 255, 0.374);
}
.buttonstyle button:active {
    color: black;
    background-color: white;
} 

/* Gamecover */

.gamecover-unit {
    display: flex;
}

.gamecover {
    display: flex;
    align-items: end;
    flex-direction: column;
}
.gamecover-text {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.gamecover-text > h1 {
    margin: 0 0 20px 0;
    line-height: 16px;


}
.gamecover-text p{
    font-weight: lighter;
}

.video-placeholder {
    height: 160px;
    width: 250px;
    object-fit: cover;
    border: 1px solid rgb(21, 21, 21);
    margin-top: 20px;

}





/* Loading animation*/
/* https://loading.io/css/ */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

  .error {
    font-size: 30px;
    color: white;
  }
  








