* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Genos";
}

body {
    background-image:url(/images/universal-background.jpg) ;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.836);
    object-fit: cover;
    background-attachment: fixed;
    
}

/* Header start */

header {
    width: 100%;
    height: 100px;
    background-color: #1B203A;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

a.header-link:link, a.header-link:hover, a.header-link:active {
    color:rgb(255, 255, 255);
    text-decoration: none;
}

.header-logo {
    max-width: 200px;
    display: flex;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px 80px 4px 80px;
    box-sizing: content-box;
    
}

header div {
    display: flex;
    margin: auto 0;
}

.header-link {
    display: flex;
    padding: 0 20px;
}

.header-link p {
    margin: 0 8px;
    font-size: 20px;
}

.header-link i {
    margin: auto;
}

.filler {
    width: 250px;
    height: 40px;
    background-color: red;
    margin: auto 0;
    display: flex;
}

.filler p {
    text-align: center;
    margin:auto;
}

/* Header end */

.featured-gamecover {
    max-width: 300px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sale-content {
    min-width: 1080px;
    min-height: 500px;
}
.sale-content h1 {
    text-align: start;
    min-width: 100%;
    margin: 20px 0;
    font-size: 40px;
}

.sale-games {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 84px;
}

.sale-games img {
    width: 200px;
}

.featured-content {
    min-width: 600px
}





footer div, footer p {
    margin: 20px auto;
    text-align: center;
}