* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Genos";
}

body {
    background-image:url(/images/universal-background.jpg) ;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.836);
    object-fit: cover
    
}

/* Header start */

header {
    width: 100%;
    height: 100px;
    background-color: #1B203A;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
}

a.header-link:link, a.header-link:hover, a.header-link:active {
    color:rgb(255, 255, 255);
    text-decoration: none;
}

.header-logo {
    max-width: 200px;
    display: flex;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px 80px 4px 80px;
    box-sizing: content-box;
    position: absolute;
    left: 45%;
    top: 2%    
    
}

header div {
    display: flex;
    margin: auto 0;
}

.header-link {
    display: flex;
    padding: 0 20px;
}

.header-link p {
    margin: 0 8px;
    font-size: 20px;
}

.header-link i {
    margin: auto;
}

.filler {
    width: 250px;
    height: 40px;
    background-color: red;
    margin: auto 0;
    display: flex;
}

.filler p {
    text-align: center;
    margin:auto;
}

/* Header end */

.featured-gamecover {
    max-width: 300px;
}